<div *ngIf="!!tvShows && !!tvShowDict" class="container py-4">
  <div class="form-group col">
    <div class="input-group">
      <div class="form-group-prepend">
        <span
          class="input-group-text rounded-0 border-right-0 search-input-group-prepend"
        >
          <fa-icon [icon]="faSSearch"></fa-icon>
        </span>
      </div>
      <input
        class="form-control text-light text-dark search-input-group-bar"
        type="text"
        placeholder="{{ 'filter' | translate }}"
        aria-label="search"
        [formControl]="query"
      />
    </div>
  </div>

  <div
    *ngIf="tvShows.length === 0"
    class="row justify-content-center mt-5 text-muted"
  >
    <h6 class="text-center text-muted mx-auto p-5">
      <a class="text-decoration-none" [routerLink]="['/explore/popular']">{{
        "Explore" | translate
      }}</a>
      {{ "collection_text_p1" | translate }}
      <a class="text-decoration-none" [routerLink]="['/search']">{{
        "Search" | translate
      }}</a>
      {{ "collection_text_p2" | translate }}
    </h6>
  </div>

  <div class="row justify-content-center">
    <div *ngFor="let t of tvShows" class="p-2 text-center">
      <div class="tv-show-card card bg-dark text-light hvr-grow">
        <div class="card-header p-1 m-0 border-0">
          <a
            class="text-decoration-none"
            routerLink="/discover/{{ t.id }}/details"
          >
            <img
              src="{{ t.poster_path }}"
              alt="{{ t.name }}"
              class="poster-img rounded"
              width="100%"
              height="200px"
            />
            <h6 class="card-title text-truncate text-light px-2 pt-2 m-0">
              {{ t.name }}
            </h6>
          </a>
        </div>
        <div class="card-body px-2 pb-2 pt-1 border-0">
          <!-- <h6 class="card-title text-truncate mb-2">{{ t.name }}</h6> -->
          <button
            *ngIf="tvShowDict[t.id]"
            class="btn btn-danger btn-sm btn-block"
            (click)="removeFromCollection(t.id)"
          >
            <fa-icon [icon]="faSMinusCircle"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
